<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.modules.junit.SimpleTestCase">
    <resources>
        <!-- a trick to add the original class path entry -->
        <resource-root path="../../../../../.."/>
    </resources>

    <dependencies>
        <module name="junit"/>
    </dependencies>
</module>